body {
    background-color: rgb(166, 162, 162);
  }
  
  .register-panel {
    margin: auto;
    margin-top: 5%;
    width: 30%;
    background-color: rgb(206, 202, 202);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center;
    
  }
  
  input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
  }
  
  a {
    text-decoration: none;
    color: rgb(72, 71, 71);
    
  }
  .material-icons {
    margin-right:95%;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    
  }
  .material-icons a{
    text-decoration: none;
    color: rgb(71, 68, 68);
  }
  
  .material-icons:hover {
    cursor: pointer;
    color: #666;
  }